body {
    background-image: url("https://cdn.onesearch.com/lo/api/res/1.2/cJ_QccDKxDSuclmW9eR5pQ--~B/YXBwaWQ9eWlzZWFyY2g7Zmk9Zml0O2dlPTAwNjYwMDtncz0wMEEzMDA7aD0zMTI1O3c9NTAwMA--/https://static.vecteezy.com/system/resources/previews/000/543/942/original/futuristic-blue-express-envelope-and-parcel-abstract-technology-background-business-quantum-internet-network-communication-and-high-speed-parcel-delivery-and-email-text-sending-message-service-vector.jpg.cf.jpg");
    background-size: 100%;
  }
  
  
  #Chirpy{
      border-color: red;
      border-radius: 20px;
  }
  
  #Userman{
      border-color: red;
      border-radius: 20px;
      
  }
  